<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE SettingDef [

  <!ELEMENT SettingDef (Category+)>
  <!ATTLIST SettingDef name CDATA #IMPLIED>

  <!ELEMENT Category (Category*, Item*)>
  <!ATTLIST Category name CDATA #REQUIRED>
  <!ATTLIST Category description CDATA #IMPLIED>
  <!ELEMENT Item (#PCDATA)>
  <!ATTLIST Item type (Dir|File|Tag|Attr|Table) #REQUIRED>
  <!ATTLIST Item name CDATA #REQUIRED>
  <!ATTLIST Item description CDATA #IMPLIED>

]>

<SettingDef>

  <Category name="Work">
    <Item type="Attr" name="As">Client</Item>
  </Category>

  <Category name="ClientDefault">
    <Item type="Attr" name="Server">localhost</Item>
    <Item type="Attr" name="Port">61000</Item>
    <Item type="Attr" name="ClientName">Client</Item>
    <Item type="Attr" name="ID">1</Item>
    <Item type="Attr" name="Timeout">20</Item>
    <Item type="Attr" name="MessageLength">20</Item>
    <Item type="Attr" name="StartCommand">ClientCommand1</Item>
  </Category>

  <Category name="DispatcherDefault">
    <Item type="Attr" name="Dispatcher">localhost</Item>
    <Item type="Attr" name="Port">61000</Item>
    <Item type="Attr" name="DispatcherName">Server</Item>
    <Item type="Attr" name="ID">1</Item>
    <Item type="Attr" name="Timeout">20</Item>
    <Item type="Attr" name="MessageLength">20</Item>
    <Item type="Attr" name="StartCommand">DispatcherCommand1</Item>
  </Category>

  <Category name="ServerDefault">
    <Item type="Attr" name="Server">localhost</Item>
    <Item type="Attr" name="Port">61000</Item>
    <Item type="Attr" name="ClientName">Server</Item>
    <Item type="Attr" name="ID">1</Item>
    <Item type="Attr" name="Timeout">20</Item>
    <Item type="Attr" name="MessageLength">20</Item>
    <Item type="Attr" name="StartCommand">ServerCommand1</Item>
  </Category>

  <Category name="ClientCommand1">
    <Category name="Connect" description="root">
      <Item type="Attr" name="Method">StartConnect</Item>
      <Item type="Attr" name="OnSuccess">Prepare</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
    <Category name="Prepare">
      <Item type="Attr" name="Method">PrepareStream</Item>
      <Item type="Attr" name="OnSuccess">Send</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
    <Category name="Send">
      <Item type="Attr" name="Method">SendMessage</Item>
      <Item type="Attr" name="OnSuccess">Read</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
      <Item type="Attr" name="Message">ABCDEFG</Item>
    </Category>
    <Category name="Read">
      <Item type="Attr" name="Method">StartReadMessage</Item>
      <Item type="Attr" name="OnSuccess">QueueMessage</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
    <Category name="QueueMessage">
      <Item type="Attr" name="Method">QueueMessage</Item>
      <Item type="Attr" name="OnSuccess">Disconnect</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
    <Category name="Disconnect">
      <Item type="Attr" name="Method">Disconnect</Item>
      <Item type="Attr" name="OnSuccess">Dispose</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
    <Category name="Dispose">
      <Item type="Attr" name="Method">Dispose</Item>
      <Item type="Attr" name="OnSuccess">Dispose</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
  </Category>

  <Category name="DispatcherCommand1">
    <Category name="PortCheck" description="root">
      <Item type="Attr" name="Method">StartConnect</Item>
      <Item type="Attr" name="OnSuccess">Start</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
    <Category name="Start">
      <Item type="Attr" name="Method">StartListener</Item>
      <Item type="Attr" name="OnSuccess">Accept</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
    <Category name="Accept">
      <Item type="Attr" name="Method">AcceptAnyConnection</Item>
      <Item type="Attr" name="OnSuccess">Dispatch</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
    <Category name="Dispatch">
      <Item type="Attr" name="Method">Dispatch</Item>
      <Item type="Attr" name="OnSuccess">Stop</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
    <Category name="Stop">
      <Item type="Attr" name="Method">StopListener</Item>
      <Item type="Attr" name="OnSuccess">Dispose</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
    <Category name="Dispose">
      <Item type="Attr" name="Method">Dispose</Item>
      <Item type="Attr" name="OnSuccess">Dispose</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
  </Category>

  <Category name="ServerCommand1">
    <Category name="Prepare" description="root">
      <Item type="Attr" name="Method">PrepareStream</Item>
      <Item type="Attr" name="OnSuccess">Read</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
    <Category name="Read">
      <Item type="Attr" name="Method">StartReadMessage</Item>
      <Item type="Attr" name="OnSuccess">QueueMessage</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
    <Category name="QueueMessage">
      <Item type="Attr" name="Method">QueueMessage</Item>
      <Item type="Attr" name="OnSuccess">Send</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
    <Category name="Send">
      <Item type="Attr" name="Method">SendMessage</Item>
      <Item type="Attr" name="OnSuccess">Disconnect</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
      <Item type="Attr" name="Message">HIJKLMN</Item>
    </Category>
    <Category name="Disconnect">
      <Item type="Attr" name="Method">Disconnect</Item>
      <Item type="Attr" name="OnSuccess">Dispose</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
    <Category name="Dispose">
      <Item type="Attr" name="Method">Dispose</Item>
      <Item type="Attr" name="OnSuccess">Dispose</Item>
      <Item type="Attr" name="OnFailure">Dispose</Item>
    </Category>
  </Category>
</SettingDef>